@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding: 0 20px;
}

.heading p {
  color: #828282;
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}


.form-group {
  margin-bottom: 10px;
}

.form-group input,
.btn {
  outline: none;
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  margin-bottom: 10px;
  border-radius: 5px;
  font-family: inherit;
}

.btn {
  padding: 10px;
  border: none;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background: rgb(224, 190, 190);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(43, 39, 39);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn svg {
  margin-right: 8px;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.form-control {}